.carousel-milk-tea {
  text-align: center;

  h2 {
    color: orangered;
  }

  .carousel {
    margin: 0 auto;
    height: 400px;
    background-color: black;
  }

  .carousel-inner {
    height: 100%;
  }
}
