.update-product-modal {
  .update-product-btn {
    background-color: orangered;
    color: white;
    border-color: orangered;
  }

  .update-product-btn:hover,
  .update-product-btn:focus {
    color: white;
  }
}
