.food-menu-page {
  .row,
  .card {
    padding: 0;
    // margin: 0;
  }

  button {
    background-color: orangered;
    color: white;
    border-color: orangered;
  }

  button:hover,
  button:focus {
    color: white;
  }
}
