.signin-page {
  h2,
  label,
  a,
  a:hover {
    color: orangered;
  }

  button {
    background-color: orangered;
    color: white;
    border-color: orangered;
  }

  button:hover,
  button:focus {
    color: white;
  }

  a {
    text-decoration: none;
  }
}
